body {
	margin:0;
	font-family:Arial;
	width: 100%;
}
/*--------------------------------------------------------------HOME--------------------------------------------------------------*/
/*NAVBAR*/
.navbar{
	height: 40px;
}

/*SHOP*/
.menu-drinks-on{
  position: absolute;
  visibility: visible;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.menu-drinks-off{
  position: absolute;
  visibility: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.menu-snacks-off{
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.menu-snacks-on{
  visibility: visible;
  width: 100%;
  height: 100%;
}

.menu-sectiontitle{
  padding-left: 2rem;
  padding-top: 2rem;
  font-family: SpartanLimport;
  color:#bd1220 ;
}

.menu-describe{
  padding-left: 2rem;
  padding-top: 1rem;
  color: black;
  font-size: 18px;
  line-height: 1.5;
}

.menu{
  background-color: #E0E5EC;
  display: inline-flex;
  width:100%;
  z-index: 1;
}

.menu-section{
  float: left;
  background-color: #E0E5EC;
  width: 25%;
  padding: 2rem;  
  height: 420px;
  z-index: 2;
}

.menu-flip-card {
  background-color: transparent;
  width: 90%;
  height: 105%;
  perspective: 1000px;
  z-index: 3;
}

.menu-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  border-radius: 5%;
  background: none;
}

.menu-flip-card:hover .menu-flip-card-inner {
  transform: rotateY(180deg);
}

.menu-flip-card-front, .menu-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.menu-flip-card-front {
  background: #E0E5EC;
  color: black;
}

.menu-flip-card-back {
  background-color: #E0E5EC;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.menu-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-text-title{
  color:#bd1220;
}

.menu-text-title a{
text-decoration: none;
}

.menu-text-title a:hover{
  text-decoration: none;
}

.menu-header-container{
  display: inline-flex;
  width:100%;
  padding:1rem;
}

.menu-hr-container {
  width: 100%;
  height: 41px;
  padding-top:2.5%;
}

.menu-hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border-color: black;
}

.menu-image{
  width:100%;
  height:100%;
}

.menu-circle-image{
  width: 60px;
  border-radius: 15px;
}

.menu-button-on{
  background-color: #E0E5EC;
  border-radius: 50%;
  border: 5px solid #E0E5EC;
  width: 10%;
  transition: 0.5s;
  box-shadow: none;
  outline: none;
}

.menu-circle-image:hover{
  cursor: pointer;
}

.menu-button-off{
  background-color: #E0E5EC;
  border-radius: 50%;
  border: 5px solid #E0E5EC;
  width: 10%;
  outline: none;
  transition: 0.5s;
  box-shadow: 2px 2px 8px rgb(163,177,198,0.6), -2px -2px 12px    rgba(255,255,255, 0.5);;
}

/*ABOUT*/

.findUs-img,
.findUs-map {
  padding: 1rem;
  float: left;
  width: 50%;
  padding: 2rem;
}

.findUs-iframe{
  border-radius: 1rem;
  width: 100%;
  height: 395px;
}

.findUs-title {
  font-family: SpartanLimport;
  color:#bd1220;
  margin-top: 2.5rem;
  line-height: 1.3;
  text-align: center;
  padding-top: 7%;
  font-size: 30px;
}

a{
  cursor: pointer;
}

.about{
  background-color: #E0E5EC;
}

.findUs-social{
  width: 100%;
  border: 1px solid #E0E5EC;
  border-radius: 25px;
}

.findUs-social a{
  color: #000;
  text-decoration: none;
}

.findUs-social a:hover{
  color: #000;
  opacity: 0.7;
  text-decoration: none;
}

.enquiry-button{
  background-color: #E0E5EC;
  color: black;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 15px;
  margin: 8px 0;
  border: 1px solid #FF0000;
  transition: 0.5s;
  cursor: pointer;
}

.enquiry-button:hover {
  background-color: #bd1220;
  color: white;
  opacity: 1;
  border: 1px solid #bd1220;
  border-radius: 6px;
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.enquiry-button a{
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.enquiry-button a:hover{
  color: white;
  opacity: 1;
  text-decoration: none;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 30%;
  top: 10%
  left: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=tel], .form-container input[type=email] {
  width: 90%;
  font-size: 10px;
  padding: 2px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus, .form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 70%;
  height: 25px;
  margin:2px;
  padding:0px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container h3{
  color: #000;
}
/*--------------------------------------------------------------HOME ENDS--------------------------------------------------------------*/

/*--------------------------------------------------------------ITEMS--------------------------------------------------------------*/


.items{
  background-color: #E0E5EC;
  display: inline-flex;
  width:100%;
  z-index: 1;
}

.items-section{
  float: left;
  background-color: #E0E5EC;
  width: 20%;
  padding: 2rem;  
  height: 320px;
  z-index: 2;
}

.items-flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  z-index: 3;
}

.items-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
  border-radius: 5%;
  background: none;
}

.items-flip-card:hover .items-flip-card-inner {
  transform: rotateY(180deg);
}

.items-flip-card-front, .items-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.items-flip-card-front {
  background: #E0E5EC;
  color: black;
}

.items-flip-card-back {
  background-color: #E0E5EC;
  color: white;
  transform: rotateY(180deg);
  border-radius: 5%;
}

.items-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.items-text-title{
  color:#bd1220;
}

.items-text-title input[type="number"] {
  width: 80%;
}

.items-image{
  width:100%;
  height:100%;
}

/*--------------------------------------------------------------ITEMS ENDS--------------------------------------------------------------*/

/*--------------------------------------------------------------CONTACT--------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.container {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/*--------------------------------------------------------------CONTACT ENDS--------------------------------------------------------------*/
